# Prerequisites
*.d

#Prevent unwanted stuff in this repo, we only want docs and scripts to generate the docs bro!
DEPENDENCIES/*
DEPENDENCIES
# Ignore examples folder
#samples/*
Documentation/docs/*
IDE_Config
scripts

*.code-workspace
FHE-Toolkit-Workspace/*

# Block from accidentally contirbuting a FHE-Workspace
FHE-Workspace

## Build generated
build/
DerivedData/


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
